@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    ;
}

/*Header Styles*/
header {
    background-color: #957E6D;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    height: 10vh;
}

.title {
    font-size: 2rem;

}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header a {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 2px 5px;
}

/*main styles*/
main {
    padding-top: 10vh;
}