@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EB;
    color: #181818;
}

h1, h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    text-transform: capitalize;
}

/*Header Styles*/
header {
    background-color: #A37856;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.title {
    font-size: 1.5rem;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header a {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    font-size: .9rem;
    text-decoration: none;
    padding: 2px 5px;
}

/*main styles*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*footer styles*/
footer {
    margin-top: auto;
    flex: 0;
    background-color: #A37856;
    width: 100%;
    max-height: fit-content;
}

#socials {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    list-style-type: none;
}

#socials li {
    padding: 15px 5%;
}

#socials  i {
    color: #2B1F31;
    font-size: 200%;
}

/*media queries*/

/*tablets and larger*/
@media screen and (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    header a {
        font-size: 1.25rem;
    }

    #socials {
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        list-style-type: none;
    }
}