@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F0EB;
    color: #181818;
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    text-transform: capitalize;
}

/*Header Styles*/
header {
    background-color: #F2AB5D;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    border-bottom: 2px #181818 solid;
    position: fixed;
    z-index: 99;
}

.title {
    font-size: 1.5rem;
}

header nav {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header a {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #2B1F31;
    font-size: .9rem;
    text-decoration: none;
    padding: 2px 5px;
}

/*main styles*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 68px;
}

.center-text {
    text-align: center;
}

.no-list {
    list-style-type: none;
}

li {
    padding-bottom: 5px;
}

#strat {
    background: url(../assets/pictures/strat.webp) no-repeat center  center/cover;
    height: 50vh;
    width: 100%;
    position: relative;
}

.list-pad {
    padding: 0 10px 10px 10px;
}

#les-paul {
    background: url(../assets/pictures/les-paul.webp) no-repeat center  center/cover;
    height: 50vh;
    width: 100%;
    position: relative;
}

#location {
    padding-top: 10px;
}

#googlemaps {
    width: 100%;
    height: 30vh;
}

#tech-info {
    padding-top: 10px;
}

#tech-form {
    margin: 0 7.5%;
}

/*footer styles*/
footer {
    margin-top: auto;
    flex: 0;
    background-color: #F2AB5D;
    width: 100%;
    max-height: fit-content;
}

#socials {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

#socials li {
    padding: 15px 5%;
}

#socials  i {
    color: #2B1F31;
    font-size: 200%;
}

/*media queries*/

/*tablets and larger*/
@media screen and (min-width: 768px) {

    body {
        font-size: 1.3rem;
    }

    .title {
        font-size: 2rem;
    }

    header a {
        font-size: 1.25rem;
    }

    #about-us {
        display: flex;
        flex-direction: row;
    }

    #strat {
        position: relative;
        flex-wrap: wrap;
        height: 100vh;
        width: 50%;
    }

    #about-us-text {
        position: absolute;
        flex-wrap: wrap;
        flex: 1;
        margin-left: 50%;
        margin-top: 37vh;
        padding: 0 5%;
    }

    #opening-times {
        display: flex;
        flex-direction: row;
    }

    #ot-text {
        position: absolute;
        flex-wrap: wrap;
        margin-top: 37vh;
        margin-right: 50%;
        padding: 0 10%;
    }

    #les-paul {
        position: relative;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100vh;
        max-width: 50%;
        margin-left: 50%;
    }

    #googlemaps {
        width: 100%;
        height: 40vh;
    }

    #socials {
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    #about-us-text {
        padding: 0 7.5%;
    }

    #ot-text {
        padding: 0 12.5%;
    }
}